.move-on-button.move-on {
  display: inline;
}
.Suggestion-window {
  height: 40vh;
  background-color: paleturquoise;
  /* scroll-behavior: scroll; */
  /* overflow-y: auto; */
}
.selected-items {
  flex-direction: row;
}
