.motion-creation-page-1 {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding-top: 120px;
  position: relative;
  height: calc(100% - 60px);
  width: 100%;
}

.motion-creation-page-1 h1 {
  text-align: start;
  margin-left: 2vw;
}

.creation-view {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

#vertically-aligned-items {
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.move-on-button {
  height: 60px;
  width: 60px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.move-on {
  background-color: #3f9db5;
  cursor: pointer;
}
