.navbar {
    background-color: #B8D1D3;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
}
.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    color: gray;
    background: none;
    
}

.nav-menu {
    background-color: #CF5C36;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content:center;
    position: fixed;
    top: 0;
    transition: 200ms;
    left: -100%;
    cursor: pointer;
}
.nav-menu.active {
    left: 0%;
    transition: 200ms;
}

.nav-text {
    display : flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    
}
.nav-text a:hover{
    background-color:lightpink;

}
.nav-menu-items {
    width: 100%;
    list-style-type: none;
}

.nav-toggle {
    background-color: lightpink;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
span {
    margin-left: 16px;
}
