.login-page {
    position: relative;
    width: 400px;
    height: 350px;
    padding: 30px 38px;
    margin-top: 150px;
    margin-left: 750px;
    cursor: default;

    background-color: #B8D1D3;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    /* -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset 0px 1px 1px 0px rgb(0,0,0); */
}

.login-page h1 {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.login-page [type = "text"], .newuser [type = "text"] {
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
}

.login-page [type = "submit"], .newuser [type = "submit"]{
    float: right;
    margin-top: 30px;
    padding: 10px 68px;
    box-sizing: border-box;
    width: 100%;
 }

 .login-page [type = "submit"]:hover {
    box-shadow: 0 8px 10px rgba(212, 211, 211, 0), 0 5px 8px 0 rgba(0, 0, 0, 2);
}

.login-page [type = "text"]:focus {
    background-color: #EFCABD;
}

