.custom-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api-validation {
  display: flex;
  align-items: center;
  justify-items: center;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr;
}
