/* I removed css of .app because I need setup conditional rendering for Navbar */
#root {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* NavBar pops out, full screen move to right side and darker animation */
 .showcase {
  height: 100vh;
  width: 100vw;
  margin-left: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 400ms;
 transition: var(--transition-delay); 
 }
.showcase.Shrink {
  margin-left: 0;
  background-color: white;
  transition: var(--transition-delay);
} 
