* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  padding-bottom: 20px;
}
.showcase {
  height: 1600px;
  width: 1600px;
  margin-left: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 400ms;
  /* transition: var(--transition-delay); */
}
.showcase.shank {
  margin-left: 0;
  background-color: white;
  transition: var(--transition-delay);
}