.App {
  height: 100%;
  width: 100%;
  text-align: center;
}
#root {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.showcase {
  height: 1600px;
  width: 1600px;
  margin-left: 250px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 400ms;
  /* transition: var(--transition-delay); */
}
.showcase.shank {
  margin-left: 0;
  background-color: white;
  transition: var(--transition-delay);
}
