.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 60px);
  width: 100%;
}
/* position property cannot be fixed, relative, or absolute because it caused NavBar items unclickable */

.home-page-motions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
}

.home-motion-tile {
  cursor: pointer;
  background-color: lightgrey;
  height: 150px;
  width: 250px;
}

.closed-motion-tile {
  background-color: rgb(184, 209, 211, 0.5);
}

.motion-tile-text {
  position: relative;
  height: 100%;
  z-index: 100;
  opacity: 1;
  color: black;
}

.invited-by {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  padding-bottom: 2px;
}
